.hide-img{
    img{
        display: none;
    }
}
.header{
    a{
        color: rgba(0, 0, 0, 0.80);
    }
}
.tags{
    font-size: 15px;
    margin: 8px 0;
}
.art-info{
    margin: 8px 0;
    font-size: 17px;
}
.author{
    margin: 8px 0 20px 0;
    font-size: 14px;
}
.more{
    font-size: 14px;
}

