// @import '~antd/dist/antd.css';

/* Styles */
body {
  font-family: Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.5;
  // line-height: 1.4em;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  // min-width: 230px;
  // max-width: 550px;
  margin: 0 auto;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  background-color: #ececec;
}

body, html {
    height: 100%;
}

article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

.content{
    .center{
        text-align: center;
    }
    width: 100%;
    font-size: 16px;
    
    img{
        width: 100%;
    }
    background-color: #fff;
    border-radius: 10px;
}

.ant-back-top {
  bottom: 100px;
}
.ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #187aca;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 500px){
   .content{
        margin-bottom: 16px;
        padding:10px 10px;
   }
    .ant-back-top {
        bottom: 60px;
        right: 40px;
    }
}
@media screen and  (min-width:500px) and (max-width:960px){
   .content{
        margin-bottom: 24px;
        padding:20px 30px;
   }
}
@media screen and  (min-width:960px) and (max-width:1400px){
   .content{
        margin-bottom: 32px;
        padding:30px 45px;
   }
}
@media screen and (min-width: 1400px){
   .content{
        margin-bottom: 32px;
        padding:40px 60px;
   }
}